<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="detailData">
    <ion-item lines="none">
        <ion-label>
            <strong>
            Company : {{detailData.ad.company}}
          </strong>
        </ion-label>
    </ion-item>
    <ion-card>
        <div class="circular-img">
            <img [src]="detailData.data.avatar">
        </div>

        <ion-card-header>
            <ion-card-title><strong>
              {{detailData.data.first_name}} {{detailData.data.last_name}}
            </strong></ion-card-title>
            <ion-card-subtitle>{{detailData.data.email}}</ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
            {{detailData.ad.text}}
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="share-social"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

    </ion-fab>
</ion-content>