<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="captureImage()">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
            <ion-button (click)="presentActionSheet()">
                <ion-icon slot="icon-only" name="funnel"></ion-icon>
            </ion-button>

        </ion-buttons>

        <ion-title>HnR Tech</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div *ngIf="clickedImage" class="circular-img">
        <div class="close-overlay">
            <img [src]="clickedImage">
            <ion-icon slot="icon-only" (click)="presentAlertConfirm()" name="close-circle"></ion-icon>

        </div>

    </div>

    <ion-header collapse="condense">
        <ion-toolbar>

            <ion-title>
                HNR TECH
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-searchbar (ionInput)="filterList($event) " animated showCancelButton="focus " placeholder="Search by Full Name "></ion-searchbar>
    <ion-item *ngIf="searchCount==0 " lines="none " class="noData ">
        <ion-label>
            No Data Found.
        </ion-label>
    </ion-item>


    <ion-list *ngFor="let data of userData;" class="userData ">
        <ion-item [routerLink]=" '/message/' + data.id ">
            <ion-avatar slot="start">
                <img [src]="data.avatar">
            </ion-avatar>
            <ion-label>{{data.first_name}} {{data.last_name}} <br>
                <small>{{data.email}}</small>
            </ion-label>
        </ion-item>

    </ion-list>
    <div *ngIf='searchCount > 0' class="nextPrevBtn ">
        <ion-button [disabled]="!prevVisible " type="submit " shape="round " fill="outline " color="primary " class="btnPrev " (click)="prev() ">Prev</ion-button>
        <ion-button [disabled]="!nextVisible " type="submit " shape="round " fill="outline " color="primary " class="btnNext " (click)="next() ">Next</ion-button>

    </div>

</ion-content>